html
    padding: 0

body
    font-size: 16px
    font-family: 'Roboto Condensed', sans-serif
    background-color: $color_light_blue

button
    width: $button_medium_width
    background $color_blue
    height: 100px
    border: none
    border-radius: 15px
    &:hover
        background $color_red
